<div class="beer_flex-container">
  <section class="beer_present beer_containter">
    <h1>{{details.name}}</h1>
    <img src="{{details.image_url}}" alt="" class="beer_img">
  </section>
  <section class="beer_about beer_containter">
    <h1>About Beer</h1>
    <h2>Description:</h2>
    <h2>First Brewed: {{details.first_brewed}}</h2>
    <p>{{details.description}}</p>
    <h2>Food Pairing:</h2>
    <p>{{details.food_pairing}}</p>
    <h2>Brewers Tips:"</h2>
    <p>{{details.brewers_tips}}</p>
    <h2 style="position: absolute; bottom: 20px;">Contributed By: {{details.contributed_by}}</h2>
  </section>
</div>
